<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
>
    <!-- 提供⽅应⽤信息，⽤于计算依赖关系 -->
    <dubbo:application name="hello-world-app" />

    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />

    <!-- ⽤dubbo协议在20880端⼝暴露服务 -->
    <dubbo:protocol name="dubbo" port="20881" />
    <!-- 声明需要暴露的服务接⼝ -->
    <dubbo:service interface="net.zhang.dubbo.test.api.DemoService" ref="demoService" />

    <!-- 和本地bean⼀样实现服务 -->
    <bean id="demoService" class="net.zhang.dubbo.test.provider.DemoServiceImpl" />
</beans>